<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Aproximacion</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Lista De Futbolistas</h3>

    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="futbolista:${allemplist}">
            <td th:text="${futbolista.nombre}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${futbolista.id})}"
                    class="btn btn-primary">Update</a>
                <a th:href="@{/view/{id}(id=${futbolista.id})}"
                   class="btn btn-primary">View</a>
                <a th:href="@{/deleteEmployee/{id}(id=${futbolista.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary col-2" th:href = "@{/}"> Back to Futbolista List</a>
</div>
</body>
</html>