<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Futbolista Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Busqueda De Futbolista</h1>
    <hr>
    <h2>Buscar Futbolista</h2>

    <form action="#" th:action="@{/aprox/{textcontain}}"
          method="POST">
        <label for="textcontain">Coinsidencia</label>
        <input type="text"  name="textcontain" id="textcontain">
        <br>

        <button type="submit" class="btn btn-info col-2">Buscar
            Futbolista</button>
    </form>

    <hr>

    <a class="btn btn-primary col-2" th:href = "@{/}"> Back to Futbolista List</a>
</div>
</body>
</html>